<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Phishing Check</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body
    class="bg-gradient-to-b from-gray-100 to-gray-200 min-h-screen flex items-center justify-center"
  >
    <div
      id="version"
      class="absolute top-4 right-4 px-4 py-2 text-gray-400"
    ></div>

    <div class="max-w-md bg-white shadow-md rounded-lg p-8">
      <h1 class="text-2xl font-bold mb-4">URL Phishing Check</h1>
      <input
        type="text"
        id="queryInput"
        class="w-full border border-gray-300 rounded-md p-3 mb-4 focus:outline-none focus:ring focus:border-blue-500"
        placeholder="Enter URL"
      />
      <button
        id="queryButton"
        class="w-full bg-blue-500 text-white font-bold py-3 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-500"
      >
        Check URL
      </button>

      <div id="resultsContainer" class="mt-6"></div>
    </div>

    <script src="../static/version.js"></script>
    <script src="../static/query-url.js"></script>
  </body>
</html>
